.pokemon-list {
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  }
  
  .search {
    display: flex;
    // align-items: center;
    gap: 6px;
    padding-top: 10px;
    justify-content: center;
  }
  