nav{
    background-color: #c58bef;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-top: 10px;
  }
  